<div class="view-container">
  <div class="row">
    <div class="grid show view">
      <% @user_stocks.each do |user_stock| %>
        <div class="item show-now stock">
          <div class="container container-card">
            <div></div>
            <div class="bg">
              <div class="side back">Test</div>
              <div class="side text">
                <h2 class="itemName"><%= user_stock.name %></h2>
                <h3 class="itemSub"><%= user_stock.ticker %></h3>
              </div>
              <div class="side attributes">
                <div class="bottom-left tracking">
                  <p class="no-margin">Price Per Share</p>
                  <span class="data-color">$<%= user_stock.last_price %></span>
                </div>
                <div class="top-left tracking">
                  <p class="no-margin">P/E Ratio</p>
                  <span class="data-color">$<%= user_stock.pe_ratio || 0 %></span>
                </div>
                <div class="bottom-right tracking">
                  <p class="no-margin">52wk High</p>
                  <span class="data-color">$<%= user_stock.fifty_two || 0 %></span>
                </div>
                <div class="top-right">
                  <% if @user.id == current_user.id %>
                    <%= link_to "", user_stock_path(user_stock), method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash fa-2x trash" %>
                  <%end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
