<div class="container">
  <h1 class="port-title left-padding">My Portfolio</h1>
  <h3 class="port-stock-search left-padding">Search for Stocks</h3>
  <div id="stock-lookup">
    <%= form_tag search_stocks_path, remote: true, method: :get, id: "stock-lookup-form" do %>
      <div class="form-group col-lg-12">
        <div class="col-lg-9">
          <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control search-box input-lg" %>
        </div>
        <div class="col-lg-2 col-lg-offset-1 left-padding">
          <%= button_tag(type: :submit, id: "search", class: "btn btn-lg btn-stock shadow ml-auto") do %>
            <i class="fa fa-search"></i> Find Stock
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="results">
  <%= render 'result' %>
</div>

<%= render  'list_item' %>
